.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f0f0f0;
  padding-top: 50px;
  min-height: calc(100vh - 160px);
}

.main section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* justify-content: space-between; */
  box-shadow: 0px 1px 4px 3px rgb(195 195 195);
  width: calc(100vw - 700px);
  padding: 30px 0;
  margin: 0 auto 50px;
  background: white;
  border-radius: 5px;
}

.main button {
  height: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px 40px;
  box-shadow: 1px 1px 1px rgb(195, 195, 195);
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.menu {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  bottom: -60px;
  right: 40px;
  padding: 0 20px;
  box-shadow: 0px 1px 4px 3px rgb(195 195 195);
}

.menu ul {
  padding: 0 0 0 20px;
}

.loginButton {
  display: block;
  height: 40px;
}

.headerTitle {
  font-size: 22px;
  font-weight: 500;
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
}

.watermelonImage {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateY(180deg);
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 418px;
  background-image: url('../public/bg2.jpg');
  background-repeat: repeat-x;
}

.strawberry {
  position: absolute;
  bottom: -80px;
  left: -80px;
  width: 320px;
  height: 320px;
  background-image: url('../public/morangos.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.meat {
  position: absolute;
  top: -160px;
  left: 30px;
  width: 500px;
  height: 500px;
  background-image: url('../public/carne.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.watermelon {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateY(-180deg);
  width: 219px;
  height: 314px;
  background-image: url('../public/watermelon.png');
}

.title {
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.reasonsSection {
  flex-wrap: wrap;
  background-color: #f0f0f0;
}

.reasonsTitle {
  width: 100%;
  margin: 0 0 50px;
}

.reasonsFooter {
  width: 100%;
  text-align: center;
}

.reason {
  width: 200px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 50px;
}

.reason:hover {
  box-shadow: 0 0 4px #000;
  transition: 0.2s ease-in-out;
}

.insideTheBoxSection {
  align-items: center;
}

.insideTheBoxSection .listItem {
  margin-bottom: 25px;
  list-style: circle;
  text-align: left;
}

.insideTheBoxText, .insideTheBoxImage {
  width: 50%;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 80px;
  height: 80px;
  background-color: #fff;
}

.loginModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loginModalButton {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.checkbox {
  min-width: 48%;
}

.preferences {
  justify-content: center!important;
  flex-wrap: wrap;
  padding: 30px!important;
}

.preferences h2 {
  width: 100%;
}

.preferences a,
.preferences button {
  display: block;
  margin-top: 20px;
}

.preferencesOptions {
  width: 33%;
}

.preferencesOptions label {
  text-align: start;
}

.checkoutProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 50px;
  background-color: #f0f0f0;
}

.checkoutDescriptionSection,
.checkoutPaymentSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: 0px 1px 4px 3px rgb(195 195 195);
  width: calc(100vw - 700px);
  padding: 30px;
  margin: 0 auto 50px;
  background-color: white;
  border-radius: 5px;
}

.checkoutDescriptionSection {
  flex-direction: row-reverse;
}

.checkoutPaymentSection {
  box-shadow: 0px 5px 15px -5px black;
}

.checkoutPaymentData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 48%;
}

.checkoutDescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  font-size: 20px;

}
.checkoutProductImage {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.checkoutPaymentTerms,
.checkoutPaymentCPF {
  width: 100%;
}

.checkoutPaymentValidity,
.checkoutPaymentCVV {
  width: 49%;
}

.checkoutPaymentButton {
  margin-top: 30px;
}

.confirmSubscription {
  flex-direction: column!important;
}

.formHelperText {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.revenue {
  padding: 20px 270px;
  background-color: #f0f0f0;
}

.revenueDescription,
.revenueIngredients,
.revenuePreparation,
.revenueReviews {
  text-align: left;
  margin-bottom: 25px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 3px rgb(195 195 195);
  border-radius: 5px;
}

.revenueIngredients h2,
.revenuePreparation h2 {
  text-align: center;
}

.revenueIngredient {
  margin-bottom: 15px; 
  margin-right: 15px;
}

.revenuePreparation ul {
  list-style-type: none;

}

.revenueOrder {
  color: gray;
  font-size: 30px;
  font-weight: 100;
  margin-right: 15px;
}

.articles {
  padding: 50px 350px;
}

.article :hover {
  text-decoration: underline;
}

.article img {
  width: 200px;
  height: 150px;
  pointer-events: none;
}

.article span {
  display: block;
  font-weight: bold;
}

.articlesSection {
  flex-wrap: wrap;
  justify-content: space-around!important;
}
.articlesTitle {
  width: 100%;
  margin: 0 0 50px;
}